# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List widely used data science tools

## Author
Pradeesh

## Some of the popular languages that Data Scientists use are:
#    1.Python
#    2.SQL
#    3.R

## Some of the commonly used libraries used by Data Scientists include:
#    1.Pandas
#    2.Numpy
#    3.scikit-learn

## Widely used data science tools
| Data Science Tools |
| ------------------ |
| Apache Hadoop      |
| Apache Spark       |
| Apache Superset    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = (3 * 4) + 5

# This a simple arithmetic expression to mutiply then add integers.
print(a)

17

In [4]:
t = int(input("Enter time in minutes: "))
# This will convert 200 minutes to hours by diving by 60
h = t/60
print(h)

Enter time in minutes:  200

3.3333333333333335